main h1 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

.carte-dieux-jour {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.carte-dieux-jour h2 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carte-dieux-jour h3 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carte-dieux-jour h4 {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carte-dieux-jour p {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carte-dieux-jour a {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 17.5%;
  text-underline-position: from-font;
}

section h4 {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section button {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
